<h1>
  Information about the artwork
  <span class="artwork-title">{{dailyDoase.de}}🌴</span>
</h1>

<div class="artwork-description">
 🌴 <h2>Artwork Revision & Model Testing</h2>
 🌴 <p>
    This artwork was created using an iterative process that involved testing various AI models. Each version reflects
    refinements and discoveries made while experimenting with different generative approaches.
    <br><br>
    Movement in the piece was generated using <a href="https://www.npmjs.com/package/semantic-stream"
      target="_blank">semantic-stream</a>, a tool that translates language into motion.
    <br><br>
    The resulting generations are presented as a collection, showcasing the evolving interplay between language and
    machine interpretation.
  </p>
  <!-- Source code below -->
</div>