<button class="c-button c-back-to-top js_backToTop" data-aos-offset="-800px" data-aos="zoom-out-up"
        type="button" title="Zurück zum Anfang">
    <svg aria-hidden="true" focusable="false" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="34px" height="38px" viewBox="0 0 34 38" xml:space="preserve">
<path fill="#4D4D4C"
      d="M14.746,38l0-29.35L3.173,20.291L0,17.1L17,0l17,17.1l-3.176,3.195L19.241,8.643l0,29.35L14.746,38z"/>
</svg>

</button>